Customer Support Agent.json
{
  "name": "Customer Support Agent",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        -160,
        -512
      ],
      "id": "60fc2539-bc37-4520-a075-b3e58ec3cdf9",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "ykhJruM5j26xxsZD",
          "name": "Gmail account 3"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.snippet }}",
        "options": {
          "systemMessage": "=Role and Purpose-\nYou are a customer support agent for coastal trading company, trained to handle customer requests, inquiries, and concerns with professionalism, empathy, and efficiency.\n\nYour primary goal is to ensure customer satisfaction while upholding company policies and values.\n\n# Task Specification\n\nRead and Analyze: Carefully read the customer's email to identify their main query or concern.\n\nUse the cs_knowledgebase tool to look up relevant policies or FAQs to ensure accurate and policy-compliant responses.\n\nCreate a draft response using CreateDraft tool.\nreply back to the customer with answer to their problem using createDraft Tool.\n\n\nEnsure the response:\n\ndirectly addresses the query\n\nmaintains polite and professional tone\n\nends with a sign off: \"Kiran from coastal retrading company\"\n\nHere is the customer's email-{{ $('Gmail Trigger').item.json.snippet }}\n\nHere is the current time : {{ $now }}\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        224,
        -512
      ],
      "id": "68858d00-5321-459c-b33d-8009986f9d87",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "pineconeIndex": {
          "__rl": true,
          "value": "faq",
          "mode": "list",
          "cachedResultName": "faq"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        224,
        -80
      ],
      "id": "8d67a010-ac74-4355-bedb-7d257d92d94a",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "AtIbOGpkbZtzwD64",
          "name": "PineconeApi account 2"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4-turbo",
          "mode": "list",
          "cachedResultName": "gpt-4-turbo"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        512,
        -80
      ],
      "id": "b58b9dbe-7e1b-456c-bc66-3b01f9061a7c",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "ogcHgXakgYoMpbwt",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "dimensions": 1024
        }
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        304,
        144
      ],
      "id": "e55f05e3-0e9d-4225-ade8-65d6ff61e031",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "ogcHgXakgYoMpbwt",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "description": "Extract relevant information from policies and FAQ documents to answer customer questions."
      },
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1.1,
      "position": [
        320,
        -288
      ],
      "id": "4112c0a8-f3a0-47ea-a473-1714d255d157",
      "name": "cs_knowledgebase"
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": "={{ $json.threadId }}",
        "emailType": "text",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        608,
        -288
      ],
      "id": "f2e91bb8-6a98-4cbc-9d97-7352364ea2b6",
      "name": "CreateDraft",
      "webhookId": "a60d7d96-afa9-434f-9c81-947d86909bc1",
      "credentials": {
        "gmailOAuth2": {
          "id": "ykhJruM5j26xxsZD",
          "name": "Gmail account 3"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.From }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        192,
        -288
      ],
      "id": "afb5a177-5116-4924-aab5-9d49b8cfc94a",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -272,
        -224
      ],
      "id": "20430bc9-0131-40f1-8ddd-60ed20e84ff6",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "L2ZgB6yoqJYvZWWO",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "ai_vectorStore": [
        [
          {
            "node": "cs_knowledgebase",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "cs_knowledgebase",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "cs_knowledgebase": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "CreateDraft": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "35c1c3f8-9219-4b41-99ff-3392bb006049",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4da39247ae932b64e314bc7394dae8dd7bda9c14f022483695b66b6f5c0fad5c"
  },
  "id": "HYZDQMVyM5H1gjBJ",
  "tags": []
}
